#Split & Join

#####Split 함수

In [1]:
items = 'zero one two three'.split()    # 빈칸을 기준으로 문자열 나누기
print(items)

['zero', 'one', 'two', 'three']

In [2]:
example = 'pythone,jquery,javascript'   # ","을 기준으로 문자열 나누기
example.split(",")

['pythone', 'jquery', 'javascript']

In [3]:
a, b, c = example.split(",")    # 리스트에 있는 각 값을 a, b, c 변수로 unpacking
print(a)
print(b)
print(c)

pythone
jquery
javascript

In [4]:
example = 'cs50.gachon.edu'
subdomain, domain, tld = example.split('.')     # "."을 기준으로 문자열 나누기 -> Unpacking
print(subdomain)
print(domain)
print(tld)

cs50
gachon
edu

#####Join 함수

In [5]:
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
print(result)

redbluegreenyellow

In [6]:
result = ' '.join(colors)   # 연결 시 빈칸 1칸으로 연결
print(result)

red blue green yellow

In [7]:
result = ', '.join(colors)   # 연결 시 빈칸 ", "으로 연결
print(result)

red, blue, green, yellow

In [8]:
result = '-'.join(colors)   # 연결 시 빈칸 "-"으로 연결
print(result)

red-blue-green-yellow

# List Comprehensions

In [9]:
result = []
for i in range(10):
    result.append(i)

print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
result = [i for i in range(10)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
result = [i for i in range(10) if i % 2 == 0]
print(result)

[0, 2, 4, 6, 8]

In [12]:
word_1 = "Hello"
word_2 = "World"
result = [i+j for i in word_1 for j in word_2]
print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [13]:
result_2 = []
for i in word_1:
    for j in word_2:
        result_2.append(i+j)
print(result_2)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [14]:
case_1 = ["A","B","C"]
case_2 = ["D","E","A"]
result = [i+j for i in case_1 for j in case_2]
print(result)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [15]:
result = [i+j for i in case_1 for j in case_2 if not(i==j)]
print(result)

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [19]:
result.sort()
print(result)

['AD', 'AE', 'BA', 'BD', 'BE', 'CA', 'CD', 'CE']

In [21]:
words = 'The quick brown fox jumps over the lazy dog'.split()
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [23]:
stuff = [[w.upper(), w.lower(), len(w)] for w in words]
print(stuff)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [24]:
for i in stuff:
    print(i)

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

In [25]:
case_1 = ["A","B","C"]
case_2 = ["D","E","A"]

In [26]:
result = [i+j for i in case_1 for j in case_2]
print(result)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [27]:
result = [[i+j for i in case_1] for j in case_2]
print(result)

[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

#Enumerate & Zip

#####Enumerate

In [28]:
for i, v in enumerate (['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [29]:
mylist = ["a","b","c","d"]
list(enumerate(mylist))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [30]:
{i:j for i,j in enumerate('Gachon University is an academic institute located in South Korea.'.split())}

{0: 'Gachon',
 1: 'University',
 2: 'is',
 3: 'an',
 4: 'academic',
 5: 'institute',
 6: 'located',
 7: 'in',
 8: 'South',
 9: 'Korea.'}

#####Zip

In [31]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for a, b in zip(alist, blist):
    print(a,b)

a1 b1
a2 b2
a3 b3

In [33]:
a, b, c = zip((1,2,3),(10,20,30),(100,200,300))

print(a)
print(b)
print(c)

(1, 10, 100)
(2, 20, 200)
(3, 30, 300)

In [34]:
[sum(x) for x in zip((1,2,3),(10,20,30),(100,200,300))]

[111, 222, 333]

In [35]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

In [36]:
for i, (a, b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3

#Lambda & MapReduce

#####Lambda

In [37]:
# General Function
def f(x, y):
    return x + y

print(f(1,4))

5

In [38]:
# Lambda Function
f = lambda x, y : x + y
print(f(1, 4))

5

In [39]:
f = lambda x, y : x + y
print(f(1,4))

5

In [42]:
f = lambda x : x ** 2
print(f(3))

9

In [43]:
f = lambda x : x / 2
print(f(3))

1.5

In [44]:
print((lambda x : x + 1)(5))

6

#####Map & Reduce

In [45]:
ex = [1,2,3,4,5]
f = lambda x : x**2
print(list(map(f,ex)))

[1, 4, 9, 16, 25]

In [46]:
f = lambda x, y : x + y
print(list(map(f, ex, ex)))

[2, 4, 6, 8, 10]

In [48]:
ex = [1,2,3,4,5]
f = lambda x, y : x + y
print(list(map(f, ex, ex)))

[2, 4, 6, 8, 10]

In [49]:
list(map(lambda x : x ** 2 if x % 2 == 0 else x, ex))

[1, 4, 3, 16, 5]

In [52]:
ex = [1,2,3,4,5]
print(list(map(lambda x:x+x, ex)))
print((map(lambda x: x+x, ex)))

f = lambda x : x **2
print(map(f, ex))
for i in map(f, ex):
    print(i)

result = map(f,ex)
print(next(result))

[2, 4, 6, 8, 10]
<map object at 0x7f4b45baa610>
<map object at 0x7f4b45baa110>
1
4
9
16
25
1

In [53]:
from functools import reduce

print(reduce(lambda x, y : x + y, [1,2,3,4,5]))

15

#Asterisk

In [55]:
# *arg
def asterisk_test(a, *args):
    print(a, args)
    print(type(args))

asterisk_test(1,2,3,4,5,6)

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [56]:
# **kargs
def asterisk_test(a, **kargs):
    print(a, kargs)
    print(type(kargs))

asterisk_test(1, b=2, c=3, d=4, e=5, f=6)

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>

In [57]:
def asterisk_test(a, *args):
    print(a, args)
    print(type(args))

asterisk_test(1, *(2,3,4,5,6))

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [58]:
def asterisk_test(a, args):
    print(a, *args)
    print(type(args))

asterisk_test(1, (2,3,4,5,6))

1 2 3 4 5 6
<class 'tuple'>

In [59]:
a, b, c = ([1,2],[3,4],[5,6])
print(a, b, c)

data = ([1,2,],[3,4],[5,6])
print(*data)

[1, 2] [3, 4] [5, 6]
[1, 2] [3, 4] [5, 6]

In [60]:
def asterisk_test(a, b, c, d,):
    print(a, b, c, d)

data = {"b":1 , "c":2, "d":3}
asterisk_test(10, **data)

10 1 2 3